# Step 1: Read APIToken

Get your APItoken from https://wapor.apps.fao.org/profile

In [1]:
import requests
import pandas as pd

path_query=r'https://io.apps.fao.org/gismgr/api/v1/query/'
path_sign_in=r'https://io.apps.fao.org/gismgr/api/v1/iam/sign-in/'

APIToken=input('Your API token: ')

Your API token: 994da2232d83455d110c8e0b08dbf4d86f163e3e63a6cad74326d4e3c510a09781286bc59f4ff7b9

# Step 2: Get Authorization AccessToken

Using the input API token to get AccessToken for authorization

In [2]:
resp_signin=requests.post(path_sign_in,headers={'X-GISMGR-API-KEY':APIToken})
resp_signin = resp_signin.json()
AccessToken=resp_signin['response']['accessToken']

AccessToken

'eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ2YjgzOTdjOGU0NmE3M2ZiMDExMDk2YjUyMDE1YTZlNjZkMDMyZWIiLCJ0eXAiOiJKV1QifQ.eyJuYW1lIjoiTkIgVHJhbiIsImlzcyI6Imh0dHBzOi8vc2VjdXJldG9rZW4uZ29vZ2xlLmNvbS91bmZhby1hcHBzLWRldiIsImF1ZCI6InVuZmFvLWFwcHMtZGV2IiwiYXV0aF90aW1lIjoxNTYzODg2OTM3LCJ1c2VyX2lkIjoidEpqZ1VHNHhnZ1VWaEVBTHJONWRVQkt0YnpBMiIsInN1YiI6InRKamdVRzR4Z2dVVmhFQUxyTjVkVUJLdGJ6QTIiLCJpYXQiOjE1NjM4ODY5MzcsImV4cCI6MTU2Mzg5MDUzNywiZW1haWwiOiJiLnRyYW5AdW4taWhlLm9yZyIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbImIudHJhbkB1bi1paGUub3JnIl19LCJzaWduX2luX3Byb3ZpZGVyIjoiY3VzdG9tIn19.o8P2VUqbqFGjkqk4Qn2Z4FolXNZ3SfaIWZXmaMrEvEhRLH62dgiLNnaJ1khrJ5Co5g6H4Jko0HD-pw-U3iQyPCAK3Fn6HpATTjMY888p3uLO-NvH7shjW-UCF6vITrYhZqBLAtHIc9PUZi4ly9y_nPCyFiAciAn7wzG6KpiZniy2ZeNHRh-BHu4Jl7414L3jCBh8P5SlabrMih_z3s4Zuh3ja-vSXonewNbeVrJxqva3TUeK_BwDm4YyiDCYN3YyPxlXwwUSp-A1I7L3l0nji-waArSQYd7qR7p6gDNchgoBUgD_ZG1xRe5Y7t5-_tHBX_qLYtpB6J32nA3cunVV2w'

# Step 3: Post Query Load

For more examples of areatimeseries query load 
visit https://io.apps.fao.org/gismgr/api/v1/swagger-ui/examples/AreaStatsTimeSeries.txt

In [3]:
query_areatimeseries={
  "type": "AreaStatsTimeSeries",
  "params": {
    "cube": {
      "code": "L2_T_D",
      "workspaceCode": "WAPOR",
      "language": "en"
    },
    "dimensions": [
      {
        "code": "DEKAD",
        "range": "[2017-01-01,2018-01-01)"
      }
    ],
    "measures": [
      "WATER_MM"
    ],
    "shape": {
      "type": "Polygon",
      "coordinates": [
        [
          [
            22.495053121621595,
            1.0291854369369418
          ],
          [
            19.554523301801794,
            -5.439980166666658
          ],
          [
            26.905847851351325,
            -6.910245076576565
          ],
          [
            30.43448363513511,
            -3.087556310810804
          ],
          [
            28.964218725225237,
            2.4994503468468565
          ],
          [
            22.495053121621595,
            1.0291854369369418
          ]
        ]
      ]
    }
  }
}

Post the QueryPayload with AccessToken in Header. In responses, get an url to query job.

In [4]:
resp_query=requests.post(path_query,headers={'Authorization':'Bearer {0}'.format(AccessToken)},
                                          json=query_areatimeseries)
resp_query = resp_query.json()
job_url=resp_query['response']['links'][0]['href']

job_url

'https://io.apps.fao.org/gismgr/api/v1/catalog/workspaces/WAPOR/jobs/4cfb3690-4385-42e1-8bbc-1b2cf10557bf'

# Step 4: Get Job Results.

It will take some time for the job to be finished. When the job is finished, its status will be changed from 'RUNNING' to 'COMPLETED' or 'COMPLETED WITH ERRORS'. If it is COMPLETED, the area time series results can be achieved from Response 'output'.

In [5]:
i=0
print('RUNNING',end=" ")
while i==0:        
    resp = requests.get(job_url)
    resp=resp.json()
    
    if resp['response']['status']=='RUNNING':
        print('.',end =" ")
    if resp['response']['status']=='COMPLETED':
        results=resp['response']['output']
        df=pd.DataFrame(results['items'],columns=results['header'])
        i=1
    if resp['response']['status']=='COMPLETED WITH ERRORS':
        print(resp['response']['log'])
        i=1       
df

RUNNING . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

         dekad       avg  min  max  range
0   2017-01-10  2.453280  0.0  6.4    6.4
1   2017-01-20  2.434655  0.0  6.9    6.9
2   2017-01-31  2.011858  0.0  6.4    6.4
3   2017-02-10  2.097030  0.0  6.4    6.4
4   2017-02-20  1.692681  0.0  5.5    5.5
5   2017-02-28  1.734090  0.0  6.0    6.0
6   2017-03-10  1.931831  0.0  6.5    6.5
7   2017-03-20  1.903657  0.0  6.3    6.3
8   2017-03-31  1.716482  0.0  5.7    5.7
9   2017-04-10  1.825662  0.0  6.3    6.3
10  2017-04-20  1.784074  0.0  5.5    5.5
11  2017-04-30  1.657353  0.0  5.7    5.7
12  2017-05-10  1.615149  0.0  5.6    5.6
13  2017-05-20  1.909233  0.0  6.3    6.3
14  2017-05-31  2.112020  0.0  6.9    6.9
15  2017-06-10  2.310496  0.0  6.9    6.9
16  2017-06-20  1.984872  0.0  6.6    6.6
17  2017-06-30  1.942636  0.0  6.2    6.2
18  2017-07-10  1.604129  0.0  5.7    5.7
19  2017-07-20  1.793814  0.0  5.9    5.9
20  2017-07-31  1.580656  0.0  6.0    6.0
21  2017-08-10  1.469522  0.0  5.7    5.7
22  2017-08-20  1.429364  0.0  5.9    5.9
23  2017-08-31  1.689895  0.0  7.1    7.1
24  2017-09-10  1.561984  0.0  6.6    6.6
25  2017-09-20  1.699081  0.0  6.7    6.7
26  2017-09-30  1.852695  0.0  6.6    6.6
27  2017-10-10  2.084104  0.0  7.1    7.1
28  2017-10-20  1.693260  0.0  6.4    6.4
29  2017-10-31  1.674636  0.0  6.1    6.1
30  2017-11-10  1.500897  0.0  4.9    4.9
31  2017-11-20  1.599657  0.0  5.5    5.5
32  2017-11-30  1.809959  0.0  5.7    5.7
33  2017-12-10  1.885883  0.0  5.6    5.6
34  2017-12-20  2.025517  0.0  6.4    6.4
35  2017-12-31  2.061515  0.0  5.9    5.9